@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 120px;
    font-weight: 900;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 50px;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
}

.heroone{
    width: 100%;
    height: 100vh;
}


.herotwo{
    width: 100%;
    height: 100vh;
}

.herothree{
    width: 100%;
    height: 100vh;
}

.herofour{
    width: 100%;
    height: 100vh;
}

.herofive{
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    padding: 5px;
    margin-left: 10px;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    height: 10vh;
    border: none;
    background-color: rgb(104, 171, 215);
}

.header button:hover{
    background-color: black;
    font-weight: bold;
    color: white;
}


.header h2{
    background-color: rgb(104, 171, 215);
    height: 10vh;
    display: flex;
    align-items: center;
}

.bg{
    position: absolute;
    object-fit: fill;
    z-index: -1;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

/*START OF FIRST DESIGN*/

.heroone{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
}

.one .top{
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    backdrop-filter: blur(2px);
    height: 80vh;
}

.one .bottom{
    width: max;
    height: 20vh;
    background-color: rgba(88, 196, 86, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.one .type{
    display: flex;
}

.bulb{
    color: rgb(41, 62, 41);
}

.type img{
    height: 45px;
    width: 45px;
}

.cry{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cry h2{
    color: white;
}

.cry img{
    height: 40px;
}

.grasstype:hover{
    transform: scale(1.3);
}

.typegrass:hover{
    color: rgb(41, 62, 41);
    font-weight: bolder;
}

.bulba{
    color: rgb(41, 62, 41);
}

.bulba:hover{
    transform: scale(1.5);
}

/*START OF SECOND DESIGN*/

.herotwo{
    display: flex;
}

.herotwo .empty{
    height: 100vh;
    width: 50%;
}

.herotwo .twocontent{
    margin-top: 100px;
    margin-bottom: 40px;
    height: fit-content;
    width: 50%;
    backdrop-filter: blur(2px);
}

.twocontent{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 90px;
    color: rgb(70, 136, 180);
}

.twocontent p{
    margin-bottom: 4px;
    display: flex;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
}

.twocontent img{
    height: 50px;
    width: 50px;
}

.twobuttons{
    margin-top: 120px;
    margin-right: 40px;
}

.twobuttons button{
    background-color: transparent;
    color: rgb(70, 136, 180);
    font-weight: bolder;
    text-decoration: underline 2px solid white;
}

.peace:hover{
    transform: translate(-30px, 0);
    text-decoration: underline 4px dashed white;
}

.information:hover{
    cursor: crosshair;
    transform: scale(1.1);
}

.now:hover{
    cursor: grab;
}

/*START OF THIRD DESIGN*/

.bg{
    position: absolute;
    object-fit: fill;
    z-index: -1;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

.bga:hover{
    border: dashed 20px rgb(63, 167, 186);
}

.three h1{
    font-size: 80px;
}

.three .up{
    padding: 30px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.three .down{
    height: 80vh;
}

.paper img{
    height: 90px;
}

.paper{
    display: flex;
}

.ac h1{
    color: rgb(63, 167, 186);
}

.nh h1{
    color: rgb(82, 190, 82);
}

.aca h1{
    color: rgb(63, 167, 186);
}

.nha h1{
    color: rgb(82, 190, 82);
}

.aca h1:hover{
    color: rgb(82, 190, 82);
}

.nha h1:hover{
    color: rgb(63, 167, 186);
}

.acnhpic img{
    margin-left: 200px;
    border: solid 5px white;
    height: 45vh;
}

.acnhinfo h2{
    font-size: 40px;
    padding-left: 310px;
}
.acnhinfo p{
    font-size: 20px;
    margin-left: 260px;
    display: flex;
    text-align: end;
    justify-content: flex-start;
}

.acnhcp{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

/*START OF FOURTH DESIGN*/

.herofour{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.seattle{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 50vh;
}

.seattle h1{
    font-size: 10vh;
    color: rgb(16, 60, 85);
    display: flex;
    justify-content: center;
}

.nickname{
    backdrop-filter: blur(2px);
}

.seattlegallery{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 50vh;
}

.tourist{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.tourist p{
    font-weight: bold;
    text-align: center;
}

.tourist img{
    height: 40vh;
}

.tourista{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.tourista p{
    font-weight: bold;
    text-align: center;
}

.tourista img{
    height: 40vh;
}

.tourista:hover{
    transform: rotateY(30deg);
}


/*START OF FIFTH DESIGN*/

.herofive{
    display: flex;

}

.liyueinfo{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    margin-right: 100px;
    text-align: end;
}

.liyueinfo img{
    height: 40vh;
}

.liyueinfoanim img{
    height: 40vh;
}

.liyueinfo h1{
    font-size: 100px;
    text-decoration: underline solid 5px rgb(148, 127, 58);
}

.liyueinfo p{
    font-size: 20px;
    backdrop-filter: blur(5px);
}

.zhongli{
    height: 100vh;
    width: 50%;
}

.zhongli img{
    height: 100vh;
    margin-right: 200px;
}

.splash:hover{
    transform: scale(1.2);
    backdrop-filter: blur(5px);
}

.liyueinfoanim{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    margin-right: 100px;
    text-align: end;
}

.liyueinfoanim h1{
    font-size: 120px;
    text-decoration: underline solid 5px rgb(148, 127, 58);
}

.liyueinfoanim p{
    font-size: 30px;
    backdrop-filter: blur(5px);
}

.liyueinfoanim h1:hover{
    transform: translate(-20px, 0);
}

.liyueinfoanim h2:hover{
    transform: translate(-20px, 0);
}

.liyueinfoanim p:hover{
    transform: translate(-20px, 0);
}

.liyueinfoanim img:hover{
    filter: grayscale(100%);
}