@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 120px;
    font-weight: 900;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 50px;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
}


button{
    padding: 5px;
    margin-left: 10px;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    height: 10vh;
    border: none;
}

.header{
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(70, 136, 180);
}

body {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
    gap: 30px;
}

.one{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.two{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.three{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.four{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.five{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.static{
    width: 800px;
    height: 600px;
    border: 10px double rgb(70, 136, 180);
    padding: 10px;
    display: flex;
    flex-direction: columnSS;
    justify-content: center;
    align-items: center;
}

.animated{
    width: 800px;
    height: 600px;
    border: 10px double rgb(70, 136, 180);
    padding: 10px;
}

.one h2{
    font-size: 120px;
    color: white;
}

.bulbapic{
    height: 500px;
    width: 700px;
    background-color: black;
}

.bulba{
    height: 394px;
}

.twomain{
    width: max;
    height: max;
    display: flex;
    background-color: rgb(128, 117, 64);
}

.left{
    width: 50%;
    height: max;
}

.right{
    width: 50%;
    height: max;
    border-left: double 5px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(169, 135, 61);
}

.left img{
    height: 400px;
}

.right p{
    margin-top: 13px;
    font-size: 27px;
}

.right h2{
    margin-top: 30px;
    font-size: 70px;
    font-weight: bolder;
}